<section class="about" id="nosotros" appAnimateOnScroll="fade-in">
    <div class="about__container">
        <div class="about__image" appAnimateOnScroll="slide-right" animDelay="0.1">
            <img src="../../../assets/img/pictures/Cafetero.jpg" alt="Nosotros" />
        </div>
        <div class="about__content" appAnimateOnScroll="slide-left" animDelay="0.2">
            <h2 class="about__title" appAnimateOnScroll="fade-up" animDelay="0.25">Sobre Nosotros</h2>
            <p class="about__text" appAnimateOnScroll="fade-up" animDelay="0.35">
                Somos una organización comprometida con el desarrollo sostenible del turismo.
                Brindamos asesorías especializadas, diseñamos estrategias territoriales y
                fortalecemos las capacidades de actores públicos y privados en el sector.
            </p>
            <p class="about__text" appAnimateOnScroll="fade-up" animDelay="0.45">
                Trabajamos con enfoque ético, inclusivo y participativo para potenciar el
                valor cultural, ambiental y económico de los territorios.
            </p>
        </div>
    </div>
</section>