<section class="scope" id="destinos">
    <h2 class="scope__title">Nuestro Alcance</h2>

    <div class="scope__wrapper">
        <div class="scope__map-col">
            <img class="scope__map" src="assets/img/Alcance.png" alt="Mapa de alcance" />
        </div>
        <div class="scope__text-col">
            <h3 class="scope__heading"><span class="scope__strong">Conectamos territorios,</span><br><span
                    class="scope__light">construimos futuro:</span></h3>
            <p class="scope__claim"><span class="scope__strong-alt">DTI Consultores,</span><br>presente en toda
                Colombia.</p>
        </div>
    </div>
</section>