<section class="scope" id="alcance" appAnimateOnScroll="fade-in">
    <h2 class="scope__title">Nuestro Alcance</h2>

    <div class="scope__wrapper">
        <div class="scope__map-col" appAnimateOnScroll="zoom-in"><img class="scope__map" src="assets/img/Alcance.png"
                alt="Mapa de alcance" /></div>
        <div class="scope__text-col" appAnimateOnScroll="slide-left" animDelay="0.15">
            <h3 class="scope__heading" appAnimateOnScroll="fade-up" animDelay="0.25"><span
                    class="scope__strong">Conectamos territorios,</span><br><span class="scope__light">construimos
                    futuro:</span></h3>
            <p class="scope__claim" appAnimateOnScroll="fade-up" animDelay="0.4"><span class="scope__strong-alt">DTI
                    Consultores,</span><br>presente en toda Colombia.</p>
        </div>
    </div>
</section>