<section class="services" id="servicios">
    <h2>Servicios</h2>
    <div class="service-list">
        <div class="service-card">
            <div class="image-container">
                <img src="../../../assets/img/carousel-images/pnn.jpg" alt="Turismo" class="service-image">
            </div>
            <div class="text-content">
                <div class="text-content-presentation ">
                    <h3>Turismo</h3>
                    <p>Diagnóstico y planes personalizados para municipios y empresas.</p>
                    <ul>
                        <li>Desarrollo y fortalecimiento de productos turísticos.</li>
                        <li>Diseño e implementación de itinerarios y experiencias personalizadas.</li>
                        <li>Creación y actualización de inventarios turísticos del territorio.</li>
                        <li>Diagnóstico, gestión y optimización de servicios hoteleros.</li>
                        <li>Capacitaciones en atención al cliente, sostenibilidad, BPMs, y buenas prácticas turísticas.
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="service-card-left">

            <div class="text-content">
                <div class="text-content-presentation ">
                    <h3>Marketing</h3>
                    <p>Diagnóstico y planes personalizados para municipios y empresas.</p>
                </div>
                <ul>
                    <li>Desarrollo y fortalecimiento de productos turísticos.</li>
                    <li>Diseño e implementación de itinerarios y experiencias personalizadas.</li>
                    <li>Creación y actualización de inventarios turísticos del territorio.</li>
                    <li>Diagnóstico, gestión y optimización de servicios hoteleros.</li>
                    <li>Capacitaciones en atención al cliente, sostenibilidad, BPMs, y buenas prácticas turísticas.
                    </li>
                </ul>
            </div>
            <div class=" image-container">
                <img src="../../../assets/img/carousel-images/sapzurro.jpg" alt="Turismo" class="service-image">
            </div>
        </div>
        <div class="service-card">
            <div class=" image-container">
                <img src="../../../assets/img/carousel-images/sapzurro.jpg" alt="Turismo" class="service-image">
            </div>
            <div class="text-content">
                <div class="text-content-presentation ">
                    <h3>Legislación turística
                    </h3>
                    <p>Redes, campañas y posicionamiento online de destinos.

                    </p>
                </div>
                <ul>
                    <li>Desarrollo y fortalecimiento de productos turísticos.</li>
                    <li>Diseño e implementación de itinerarios y experiencias personalizadas.</li>
                    <li>Creación y actualización de inventarios turísticos del territorio.</li>
                    <li>Diagnóstico, gestión y optimización de servicios hoteleros.</li>
                    <li>Capacitaciones en atención al cliente, sostenibilidad, BPMs, y buenas prácticas turísticas.
                    </li>
                </ul>
            </div>

        </div>

    </div>
</section>